<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- 
/******************************************************************************** 
  * Copyright PHOENIX CONTACT Software GmbH
  * 
  * This program and the accompanying materials are made available under the
  * terms of the Eclipse Public License 2.0 which is available at
  * http://www.eclipse.org/legal/epl-2.0.
  * 
  * SPDX-License-Identifier: EPL-2.0 
  ******************************************************************************** 
-->
<plugin>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="com.phoenixcontact.plcnext.cplusplus.project.template"
            isCategory="false"
            location="src/main/java/com/phoenixcontact/plcnext/cplusplus/project/CppTemplate.xml"
            pagesAfterTemplateSelectionProvider="com.phoenixcontact.plcnext.cplusplus.project.ui.ProjectPagesAfterTemplateSelectionProvider"
            projectType="com.phoenixcontact.plcnext.cplusplus.toolchains.plcnextPropertyValue">
         <toolChain
               id="com.phoenixcontact.plcnext.cplusplus.toolchains.toolchain.release">
         </toolChain>
      </template>
      <template
            id="com.phoenixcontact.plcnext.cplusplus.project.acftemplate"
            isCategory="false"
            location="src/main/java/com/phoenixcontact/plcnext/cplusplus/project/acfproject/AcfProjectTemplate.xml"
            pagesAfterTemplateSelectionProvider="com.phoenixcontact.plcnext.cplusplus.project.ui.AcfProjectPagesAfterTemplateSelectionProvider"
            projectType="com.phoenixcontact.plcnext.cplusplus.toolchains.plcnextPropertyValue">
         <toolChain
               id="com.phoenixcontact.plcnext.cplusplus.toolchains.toolchain.release1">
         </toolChain>
      </template>
      <template
            id="com.phoenixcontact.plcnext.cplusplus.project.consumablelibtemplate"
            isCategory="false"
            location="src/main/java/com/phoenixcontact/plcnext/cplusplus/project/consumablelibrary/ConsumableLibraryTemplate.xml"
            pagesAfterTemplateSelectionProvider="com.phoenixcontact.plcnext.cplusplus.project.ui.ConsumableLibraryPagesAfterTemplateSelectionProvider"
            projectType="com.phoenixcontact.plcnext.cplusplus.toolchains.plcnextPropertyValue">
         <toolChain
               id="com.phoenixcontact.plcnext.cplusplus.toolchains.toolchain.release2">
         </toolChain>
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="CLIFExecuteNewProject"
            processRunner="com.phoenixcontact.plcnext.cplusplus.project.CreateProjectWithCLI">
         <simple
               name="projectName">
         </simple>
         <simple
               name="projectType">
         </simple>
      </processType>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.phoenixcontact.plcnext.cplusplus.project.projectfilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Hides intermediate data generated for the plcnext project"
            id="com.phoenixcontact.plcnext.cplusplus.project.projectfilter"
            name="PLCnext Project Intermediate Data">
         <filterExpression>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <or>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="intermediate">
                     </test>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="plcnext.proj">
                     </test>
                  </or>
               </adapt>
            </and>
         </filterExpression>
      </commonFilter>
      <commonWizard
            type="new"
            wizardId="com.phoenixcontact.plcnext.cplusplus.project.newProjectWizard">
         <enablement>
            </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.phoenixcontact.plcnext.cplusplus.project.newComponentWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <and>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.phoenixcontact.plcnext.cplusplus.project.plcprojectnature">
                  </test>
                  <not>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.phoenixcontact.plcnext.cplusplus.project.plcnextconsumablelibrarynature">
                     </test>
                  </not>
               </and>
            </adapt></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.phoenixcontact.plcnext.cplusplus.project.newProgramWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <and>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.phoenixcontact.plcnext.cplusplus.project.plcprojectnature">
                  </test>
                  <not>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.phoenixcontact.plcnext.cplusplus.project.plcnextacfprojectnature">
                     </test>
                  </not>
                  <not>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.phoenixcontact.plcnext.cplusplus.project.plcnextconsumablelibrarynature">
                     </test>
                  </not>
               </and>
            </adapt></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.phoenixcontact.plcnext.common.PLCProjectCategory"
            class="com.phoenixcontact.plcnext.cplusplus.project.ui.FilteredCCProject"
            icon="icons/PlcProject-Icon_16.png"
            id="com.phoenixcontact.plcnext.cplusplus.project.newProjectWizard"
            name="PLCnext C++ Project"
            project="true">
      </wizard>
      <wizard
            category="com.phoenixcontact.plcnext.common.PLCProjectCategory"
            class="com.phoenixcontact.plcnext.cplusplus.project.ui.NewComponentWizard"
            icon="icons/MetaComponent.16.png"
            id="com.phoenixcontact.plcnext.cplusplus.project.newComponentWizard"
            name="PLCnext C++ Component"
            project="false">
      </wizard>
      <wizard
            category="com.phoenixcontact.plcnext.common.PLCProjectCategory"
            class="com.phoenixcontact.plcnext.cplusplus.project.ui.NewProgramWizard"
            icon="icons/Iec.PG.16.png"
            id="com.phoenixcontact.plcnext.cplusplus.project.newProgramWizard"
            name="PLCnext C++ Program"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <newWizardShortcut
               id="com.phoenixcontact.plcnext.cplusplus.project.newProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.phoenixcontact.plcnext.cplusplus.project.ui.SupportedTargetsPropertyPage"
            id="com.phoenixcontact.plcnext.cplusplus.project.propertypage.target"
            name="PLCnext Targets">
         <enabledWhen>
            <or>
               <reference
                     definitionId="com.phoenixcontact.plcnext.cplusplus.project.hasNature">
               </reference>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="com.phoenixcontact.plcnext.cplusplus.project.plcprojectnature"
         name="Plc Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.phoenixcontact.plcnext.cplusplus.project.PlcProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.phoenixcontact.plcnext.cplusplus.project.plcnextacfprojectnature"
         name="PLCnext Acf Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.phoenixcontact.plcnext.cplusplus.project.acfproject.PlcnextAcfProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.phoenixcontact.plcnext.cplusplus.project.plcnextconsumablelibrarynature"
         name="PLCnext Consumable Library Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.phoenixcontact.plcnext.cplusplus.project.consumablelibrary.PlcnextConsumableLibraryNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.phoenixcontact.plcnext.cplusplus.project.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="com.phoenixcontact.plcnext.cplusplus.project.plcprojectnature">
            </test>
         </adapt>
      </definition>
      <definition
            id="com.phoenixcontact.plcnext.cplusplus.project.hasplcnextacfprojectnature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="com.phoenixcontact.plcnext.cplusplus.project.plcnextacfprojectnature">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:#CEditorContext">
            <separator
                  name="com.phoenixcontact.plcnext.cplusplus.project.ceditorpopupcontributionseparator"
                  visible="true">
            </separator>
            <command
                  commandId="com.phoenixcontact.plcnext.cplusplus.project.generateportcommentcommand"
                  icon="icons/Iec.VariableInport.16.png"
                  label="&amp;Mark As Port"
                  style="push"
                  tooltip="Mark the currently selected line as port">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <separator
                  name="com.phoenixcontact.plcnext.cplusplus.project.ceditorpopupcontributionseparator2"
                  visible="true">
            </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.phoenixcontact.plcnext.cplusplus.project.comfortfunction.GeneratePortCommentCommandHandler"
            id="com.phoenixcontact.plcnext.cplusplus.project.generateportcommentcommand"
            name="Generate Port Comment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.phoenixcontact.plcnext.cplusplus.project.importplcprojectcategory"
            class="com.phoenixcontact.plcnext.cplusplus.project.Import.ImportPlcProjectWizard"
            icon="icons/PlcProject-Icon_16.png"
            id="com.phoenixcontact.plcnext.cplusplus.project.importplcprojectwizard"
            name="Existing PLCnCLI Project">
      </wizard>
      <category
            id="com.phoenixcontact.plcnext.cplusplus.project.importplcprojectcategory"
            name="PLCnext Technology">
      </category>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.cPropertyTab">
      <tab
            class="com.phoenixcontact.plcnext.cplusplus.project.ui.CMakeFlagsPropertyTab"
            name="PLCnext CMake Flags"
            parent="org.eclipse.cdt.managedbuilder.ui.properties.Page_BuildSettings">
      </tab>
   </extension>
</plugin>
