<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="com.phoenixcontact.plcnext.cplusplus" sequenceNumber="13">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="epp.package.cpp" version="4.12.0.20190614-1200"/>
			<unit id="org.eclipse.cdt.arduino.feature.group" version="9.8.0.201905061608"/>
			<unit id="org.eclipse.cdt.autotools.feature.group" version="9.8.0.201906071757"/>
			<unit id="org.eclipse.cdt.build.crossgcc.feature.group" version="9.8.0.201903011325"/>
			<unit id="org.eclipse.cdt.cmake.feature.group" version="9.8.0.201905311644"/>
			<unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="9.8.0.201903011325"/>
			<unit id="org.eclipse.cdt.debug.standalone.feature.group" version="9.8.0.201906071757"/>
			<unit id="org.eclipse.cdt.debug.ui.memory.feature.group" version="9.8.0.201903011325"/>
			<unit id="org.eclipse.cdt.docker.launcher.feature.group" version="9.8.0.201905230051"/>
			<unit id="org.eclipse.cdt.launch.remote.feature.group" version="9.8.0.201903011325"/>
			<unit id="org.eclipse.cdt.launch.serial.feature.feature.group" version="9.8.0.201905311644"/>
			<unit id="org.eclipse.cdt.meson.feature.group" version="9.8.0.201906071757"/>
			<unit id="org.eclipse.cdt.mylyn.feature.group" version="5.20.0.v20180905-0014"/>
			<unit id="org.eclipse.cdt.qt.feature.group" version="9.8.0.201906061740"/>
			<unit id="org.eclipse.cdt.sdk.feature.group" version="9.8.0.201906071757"/>
			<unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="9.8.0.201903011325"/>
			<unit id="org.eclipse.egit.feature.group" version="5.4.0.201906121030-r"/>
			<unit id="org.eclipse.egit.source.feature.group" version="5.4.0.201906121030-r"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="1.7.7.v20190521-1752"/>
			<unit id="org.eclipse.linuxtools.cdt.libhover.devhelp.feature.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.cdt.libhover.feature.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.cdt.libhover.feature.source.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.changelog.c.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.gcov.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.gprof.feature.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.rpm.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.valgrind.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.linuxtools.valgrind.source.feature.group" version="7.3.0.201906121603"/>
			<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.24.2.v20180905-0003"/>
			<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.24.2.v20180905-0014"/>
			<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.24.2.v20180905-0014"/>
			<unit id="org.eclipse.mylyn.team_feature.feature.group" version="3.24.2.v20180905-0014"/>
			<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="3.0.29.201812180023"/>
			<unit id="org.eclipse.mylyn_feature.feature.group" version="3.24.2.v20180905-0003"/>
			<unit id="org.eclipse.platform.sdk" version="4.12.0.I20190605-1800"/>
			<unit id="org.eclipse.rcp.sdk.id" version="4.12.0.I20190605-1800"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.12.0.v20190605-1801"/>
			<unit id="org.eclipse.sdk.ide" version="4.12.0.I20190605-1800"/>
			<unit id="org.eclipse.tm.terminal.connector.cdtserial.feature.feature.group" version="4.5.100.201904091701"/>
			<unit id="org.eclipse.tm.terminal.feature.feature.group" version="4.5.100.201904091701"/>
			<unit id="org.eclipse.tracecompass.gdbtrace.feature.group" version="5.0.0.201906111727"/>
			<unit id="org.eclipse.tracecompass.lttng2.control.feature.group" version="5.0.0.201906111727"/>
			<unit id="org.eclipse.tracecompass.lttng2.kernel.feature.group" version="5.0.0.201906111727"/>
			<unit id="org.eclipse.tracecompass.lttng2.ust.feature.group" version="5.0.0.201906111727"/>
			<repository location="http://download.eclipse.org/releases/2019-06"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-9"/>
</target>